[Desktop Entry]
Name=Bookr
Keywords=Reading;Logging;Productivity;
Comment=Track reading habits and books
Exec=/home/andersonjwan/Projects/bookr/build/com.github.andersonjwan.bookr
Terminal=false
Type=Application
Icon=/home/andersonjwan/Projects/bookr/data/icons/hicolor/256x256/bookr.png
Categories=GTK;Office;
StartupNotify=true
